<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
        <title>联手对抗臭长视频</title>
        <meta name="description" content="获取视频网站真实地址">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <a href="https://github.com/daimajia/revenge"><img style="position: absolute; top: 0px; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <h1><img src="spy.png" alt="">联手对抗臭长广告</h1>
        <h2>这是什么？</h2>
        
        <!--
            MADE WITH <3 AND JAVASCRIPT
        -->
        
        <p>
            一句话：提取各大视频网站的真实视频地址。
        </p>
        
        <h2>为什么要做这个？</h2>
        
        <p>
            最初，这个东西是实习的时候给公司做的视频聚合服务（央视有报道喔 :p 稍后请看最下面「与此相关」），后来发现提取的视频地址还能机智的跳过广告，（太棒了！）又有一天，惊奇的发现某些网站的会员视频
            居然可以直接提取出来播放（Oh,My God,这是一箭三雕么？那个网站的程序员同学，这是你留的后门么？）
        </p>
        
        <h2>为什么要开源？</h2>
        
        <p>
            <ul>
                <li>真心厌恶了那些视频网站又臭又长的广告了。（我摔！）</li>
                <li>有时候花五块钱看付费电影，截图秀色可餐，但是看完后却大呼被坑！</li>
                <li>Mac观看flash视频热的要死，国内的视频网站根本懒得开发html5版本！（还是YouTube强！）</li>
                <li>偶尔想下载视频，却发现整个过程好蛋疼，还得去找Pc机器装客户端！（我摔！）</li>
                <li>开发视频类App自己建视频服务实在是扛不住流量费用！</li>
            </ul>    
        </p>
        
        <h2>可以用来</h2>
        <p>
            <ul>
                <li>跳过广告</li>
                <li>App内播放视频</li>
                <li>看付费</li>
                <li>给Mac降温</li>
                <li>轻松下载</li>
            </ul>
        </p>
        <h2>目前支持</h2>
        <p>
            <ul>
                <li>优酷</li>
                <li>搜狐</li>
                <li>乐视</li>
                <li>风行</li>
                <li>爱奇艺</li>
                <li>百度网盘</li>
                <li>微云网盘</li>
                <li>腾讯视频</li>
                <li><a href="http://github.com/daimajia/revenge">贡献更多？</a></li>
            </ul>
        </p>
        
        <h2>使用方法</h2>
        
        <p>
            <ol>
                <li>获取视频网页地址，如爱情公寓第四季第一集：<br>
                    <a href="http://www.iqiyi.com/v_19rrgzy5ls.html?src=soku">http://www.iqiyi.com/v_19rrgzy5ls.html</a>
                </li>
                <li>构造请求串 <br>
                    <a href="http://revenge.daimajia.com/qiyi/?url=http://www.iqiyi.com/v_19rrgzy5ls.html">http://revenge.daimajia.com/qiyi/?url=http://www.iqiyi.com/v_19rrgzy5ls.html</a>
                </li>
                <li>请求真实地址</li>
            </ol>
        </p>
        
        <h2>部署方法</h2>
        <p>
            <ol>
                <li><a href="http://nodejs.org/">安装Node</a></li>
                <li>git clone git@github.com:daimajia/revenge.git revenge</li>
                <li>cd revenge</li>
                <li>npm install</li>
                <li>node index.js</li>
                <li>访问 <a href="http://localhost:3000">http://localhost:3000</a></li>
            </ol>
        </p>
        
        <!--
            LET US KNOW WHAT YOU THINK
        -->
        <h2>与此相关</h2>
        <p>
            
        </p>
        <ul>
            <li><a href="http://daimajia.com">代码家</a></li>
            <li><a href="http://joyplus.tv">志精网络</a>(很靠谱的公司 (￣ˇ￣)，感谢<a href="http://weibo.com/scottliyq?from=profile&wvr=5&loc=infdomain">Scott</a>支持开源)</li>
            <li><a href="http://weibo.com/1628291124/AqL6REyh9?mod=weibotime">央视报道</a>(虽然是负面教材)</li>
            <li><a href="http://github.com/daimajia/revenge">GitHub</a></li>
            <li>仅供学习使用，如有法律问题，请Email我。目前在校读书，欢迎各种实习扫射。<a href="mailto:daimajia@gmail.com">联系我</a></li>
        </ul>
        
    </body>
</html>
<!--

    [[[[[[[[[[[[[[[     ]]]]]]]]]]]]]]]
    [::::::::::::::     ::::::::::::::]
    [::::::::::::::     ::::::::::::::]
    [::::::[[[[[[[:     :]]]]]]]::::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [:::::[       daimajia      ]:::::]
    [:::::[ http://daimajia.com ]:::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [:::::[                     ]:::::]
    [::::::[[[[[[[:     :]]]]]]]::::::]
    [::::::::::::::     ::::::::::::::]
    [::::::::::::::     ::::::::::::::]
    [[[[[[[[[[[[[[[     ]]]]]]]]]]]]]]]

-->
